{
    "Checks": "-*,
            bugprone-*,
            clang-analyzer-*,
            concurrency-*,
            cppcoreguidelines-*,
            modernize-*,
            performance-*,
            portability-*,
            readability-*,
            ",
    "CheckOptions": [
        {
            "key": "x",
            "value": "y"
        }
    ],
    "FormatStyle": "file"
}