{
    "InheritParentConfig": true,
    "Checks": "
            -readability-identifier-naming,
            -readability-named-parameter,
            -cppcoreguidelines-avoid-magic-numbers,
            -readability-magic-numbers
            "
}